@media screen and (max-width: 480px) and (min-width: 300px) {
    .animal-container {
        column-count: 3;
        column-gap: 10%;
    }

    .animal-profile {
        break-inside: avoid;
    }

    img {
        width: 250px;
        height: 300px;
        vertical-align: center;
    }

    h2 {
        color: rgb(74, 74, 11);
    }
    
    h1 {
      text-align: center;
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
  body {
    background-color: rgb(175, 107, 107);
    color: white;
  }
}

